<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<{include file="../Public/header.html"}>
</head>
<body>
<{include file="../Public/nav.html"}>
<div class="container main">
	
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Panel title</h3>
			  </div>
			  <div class="panel-body">
                  
                  <{if !$list }>
					<div class="alert alert-info">
                    	暂无文章
                    </div>
                  <{else}>
					<{foreach from=$list item=article}>
					<p><a href="<{U_home m=article a=detail p="id=<{$article.id}>"}>" title="<{$article.title}>"><{$article.title}></a></p>
					<{/foreach}>
                  <{/if}>
                  
                  
                  <{$pageHtml}>
			  </div>
			</div>
		</div>
		<div class="col-md-3">
			<{include file="../Public/hot.html"}>
		</div>

	</div>

</div>
<{include file="../Public/footer.html"}>
</body>
</html>
