<div style="background-color: #f90; color: #fff; /*position:absolute; bottom:0; left:0;*/ width: 100%" id="debug-bk">
<p><button style="margin: 5px; float:left; color: #f90; padding:0 5px;" status-data = "1" id="debug-btn">x</button><div style="clear:both"></div></p>
<section style="border-top: 1px solid #fff; width: 100%">

	<div style="line-height:30px; width: 98%; padding: 0 1%; ">
		<div style="width:60%; float:left;">SQL</div>
		<div style="width:20%; float:left;">row</div>
		<div style="width:10%; float:left;">time</div>
	</div>
	<{foreach from=$debug_sqls item=item_sql}>
	<div style="line-height:30px; width: 98%; padding: 0 1%; background-color:<{if $item_sql.time gt 0.1}> red <{else}> green <{/if}>" >
		<div style="width:60%; float:left;"><{$item_sql.sql}></div>
		<div style="width:20%; float:left;"><{$item_sql.rowcount}></div>
		<div style="width:10%; float:left;"><{$item_sql.time}></div>
		<div style="clear:both"></div>
	</div>
	<{/foreach}>

</section>
<script>

document.getElementById('debug-btn').onclick = function(){
	status = this.getAttribute('status-data') ;
	console.log(status);
	if(status == 1){
		document.getElementById('debug-bk').style.width = '40px'
		document.getElementById('debug-bk').getElementsByTagName('section')[0].style.display = 'none' ;
		this.setAttribute('status-data', 0) ;
		this.innerHTML = '+' ;
	}else{
		document.getElementById('debug-bk').style.width = '100%'
		//document.getElementById('debug-bk').getElementsByTagName('table')[0].style.display = 'block' ;
		document.getElementById('debug-bk').getElementsByTagName('section')[0].style.display = 'block' ;
		this.setAttribute('status-data', 1) ;
		this.innerHTML = 'x' ;
	}
}
</script>
</div>