<div id="logo">
  <h1>PhpXin </h1>
  <p><em> design by phpxin </em></p>
</div>
<hr />
<!-- end #logo -->
<div id="header">
    <div id="menu">
        <ul>
            <li><a href="/" class="first menu-item">Home</a></li>
            <li class="nav-dropdown">
              <a href="javascript:void(0);" id="menu-types-trigger" class="menu-item" >types</a>
              <div class="nav-dropdown-box" id="menu-types">
                  <{foreach from=$typeList item=type}>
                  <div class="nav-dropdown-item"><a href="<{U_home m=index a=getList p="type=<{$type.id}>"}>" title="<{$type.name}>" class="<{if $currentType eq $type.id}>on<{/if}>" ><{$type.name}></a></div>
                  <{/foreach}>
                  <div class="clean"></div>
              </div>
            </li>
            <li class="nav-dropdown">
                <a href="javascript:void(0);" id="menu-games-trigger" class="menu-item" >games</a>
                <div class="nav-dropdown-box" id="menu-games">
                    <div class="nav-dropdown-item"><a href="<{U_home m=games a=getGame p="act=planebattle"}>" title="planebattle" >飞机大战</a></div>
                    <div class="nav-dropdown-item"><a href="/games/xxl" title="xxl" >连连看</a></div>
                    <div class="clean"></div>
                </div>
            </li>
          <!--
          <li class="current_page_item"><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li> -->
        </ul>
    </div>
  <!-- end #menu -->
  <!--<div id="search">
      <form method="get" action="">
          <fieldset>
              <input type="text" name="s" id="search-text" size="15" />
              <input type="submit" id="search-submit" value="GO" />
          </fieldset>
      </form>
  </div>-->
  <!-- end #search -->

    <script type="text/javascript">

        var dropBox = {} ;

        $(function(){
            creatDropBox('menu-types');
            creatDropBox('menu-games');
        });


        function creatDropBox(name){

            $('#'+name).hide();

            dropBox[name] = false;

            $('#'+name+'-trigger').click(function(){
                if (dropBox[name]){
                    $('#'+name).hide();
                    dropBox[name] = false;
                }else{
                    $('#'+name).show();
                    dropBox[name] = true;
                }

            }) ;

        }


    </script>
</div>
<!-- end #header -->
<!-- end #header-wrapper -->