<div id="logo">
  <h1>PhpXin </h1>
  <p><em> design by phpxin </em></p>
</div>
<hr />
<!-- end #logo -->
<div id="header">
    <div id="menu">
        <ul>
            <li><a href="/" class="first menu-item">Home</a></li>
            <li class="nav-dropdown" id="menu-types-trigger">
                <a href="javascript:void(0);" class="menu-item" >types</a>
                <div class="nav-dropdown-box" id="menu-types">
                    <{foreach from=$typeList item=type}>
                    <a class="nav-dropdown-item" href="<{U_home m=index a=getList p="type=<{$type.id}>"}>" title="<{$type.name}>" class="<{if $currentType eq $type.id}>on<{/if}>" ><{$type.name}></a>
                    <{/foreach}>
                    <div class="clean"></div>
                </div>
                <div class="clean"></div>
            </li>
            <li class="nav-dropdown" id="menu-games-trigger">
                <a href="javascript:void(0);" class="menu-item" >games</a>
                <div class="nav-dropdown-box" id="menu-games">
                    <a class="nav-dropdown-item" href="<{U_home m=games a=getGame p="act=planebattle"}>" title="planebattle" >飞机大战</a>
                    <a class="nav-dropdown-item" href="/games/xxl" title="xxl" >连连看</a>
                    <div class="clean"></div>
                </div>
            </li>
            <div class="clean"></div>
        </ul>
    </div>

    <script type="text/javascript">

        var dropBox = {} ;

        $(function(){
            creatDropBox('menu-types');
            creatDropBox('menu-games');
        });


        function creatDropBox(name){

            $('#'+name).hide();

            dropBox[name] = false;

            $('#'+name+'-trigger').hover(function(){
                $('#'+name).show();

            }, function(){
                $('#'+name).hide();

            }) ;
        }


    </script>
</div>
<!-- end #header -->
<!-- end #header-wrapper -->