<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <{include file="../Public/header.html"}>
</head>
<body>
<{include file="../Public/nav.html"}>
<div id="page">

    <div class="article_content">
        <div id="preview"><{$content}></div>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
<!-- end #page -->
<{include file="../Public/footer.html"}>
<script>
    uParse('#preview') ;
    $('.syntaxhighlighter').css('width', '200px');
</script>
<{include file="../Public/analyze.html"}>
</body>
</html>