<!DOCTYPE html>
<html lang="zh-CN">
<head>
<{include file="../Public/header.html"}>
</head>
<body>
<header >
</header>
<{include file="../Public/nav.html"}>
<div class="container main">
	<div id="content" style="display:none">
		<{$content}>
	</div>
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title"><{$detail.title}></h3>
			  </div>
			  <div class="panel-body" id="preview">
                  <iframe id="edui271_iframe" class="%%-iframe" height="100%" width="100%" frameborder="0" src="/theme/public/view.html"></iframe>
			  </div>
			</div>
		</div>
		<div class="col-md-3">
			<{include file="../Public/hot.html"}>
		</div>

	</div>

</div>

<div>

</div>
<{include file="../Public/footer.html"}>
<script>
    //var a = frames[0].document.getElementById('preview').innerHTML ;
	console.log(frames[0].document)
	//console.log(frames[0].document.getElementsByTagName('div').length);
	//var a = $(window.frames[0].document).find('#preview').html() ;
	//console.log(a)
</script>
</body>
</html>
